<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>


<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="container">
        <form method="post" action="">
            <input class="form-control" type="text" name="Teste">
        </form>
    </div>
</body>


</html>