<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>


<body class="bg-dark">
    <%- include('header'); %>
        <div class="primary-section">
            <div>
                <h1>A NOVA MANEIRA DE JOGAR CHEGOU</h1>
                <p>
                    Seja bem-vindo ao Die-hard, com a nossa ficha digital,
                    você consegue<br> jogar partidas de Dungeons and Dragons sem a menor das complicações!
                </p>
                <p>
                    Crie sua conta e cire múltiplos personagens agora mesmo!
                </p>
                <button class="btnnew" onClick="window.location.href='/cadastro';">comece agora</button>
            </div>
            <div>
            </div>

        </div>

</body>

</html>