<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>


<body>
    <%- include('header'); %>
        <div class="container">
            <h2>LOGIN</h2>
            <div class="login-wrapper">
                <div class="card text-white bg-dark my-card" style="width: 20rem">
                    <div class="card-body my-div">
                        <form method="post" action="">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="my-input">Senha</label>
                                    <input id="my-input" class="form-control" type="password">
                                </div>
                                <a href="/cadastro" class="my-link">Ainda não tem uma conta?</a>
                                <br>
                                <input class="btn btn-danger" type="submit" value="Entrar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>