<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>


<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="container">
        <form method="post" action="">
            <section>
                <div class="col-sm lefloat nome-personagem">
                    <label>NOME DO PERSONAGEM</label>
                    <input type="text" name="Teste">
                </div>

                <div class="col-sm lefloat">
                    <label>RAÇA</label>
                    <input type="text" name="Teste">
                </div>
                <div class="col-sm lefloat">
                    <label>GENERO</label>
                    <input type="text" name="Teste">
                </div>
                <div class="col-sm lefloat">
                    <label>ANTECEDENTE</label>
                    <input type="text" name="Teste">
                </div>
                <div class="col-sm lefloat">
                    <label>CLASSE</label>
                    <input type="text" name="Teste">
                </div>
                <div class="col-sm lefloat">
                    <label>ALINHAMENTO</label>
                    <input type="text" name="Teste">
                </div>

                <div class="col-sm lefloat nivel">
                    <label>NÍVEL</label>
                    <input type="number" name="Teste">
                </div>
            </section>

            <section>
                <div class="col-sm lefloat nome-personagem">
                    <label>NOME DO PERSONAGEM</label>
                    <input type="text" name="Teste">
                </div>
                <div class="col-sm lefloat nome-personagem">
                    <label>NOME DO PERSONAGEM</label>
                    <input type="text" name="Teste">
                </div>
                <div class="col-sm lefloat nome-personagem">
                    <label>NOME DO PERSONAGEM</label>
                    <input type="text" name="Teste">
                </div>
            </section>





        </form>
    </div>
</body>


</html>