<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>


<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="container">
        <div method="post" action="">
            <section id="personagem">
                <div class="my-row">
                    <div class="my-column">
                        <label>NOME DO PERSONAGEM</label>
                        <input type="text" name="Teste">
                    </div>
                    <div class="my-column">
                        <label>RAÇA</label>
                        <input type="text" name="Teste">
                    </div>
                    <div class="my-column">
                        <label>GENERO</label>
                        <input type="text" name="Teste">
                    </div>
                    <div class="my-column">
                        <label>ANTECEDENTE</label>
                        <input type="text" name="Teste">
                    </div>
                    <div class="my-column">
                        <label>CLASSE</label>
                        <input type="text" name="Teste">
                    </div>
                    <div class="my-column">
                        <label>ALINHAMENTO</label>
                        <input type="text" name="Teste">
                    </div>

                    <div class="my-column">
                        <label>NÍVEL</label>
                        <input type="number" name="Teste" min="0" max="20">
                    </div>
                </div>
            </section>


            <section id="personagem_secundario">
                <div class="my-row">
                    <div class="my-column">
                        <label>C. DE ARMADURA</label>
                        <input type="number" name="Teste" id="AC_input" min="0" max="100">
                    </div>
                    <div class="my-column">
                        <label>PONTOS DE VIDA</label>
                        <input type="number" name="Teste" min="0">
                    </div>
                    <div class="my-column">
                        <label>VIDA ATUAL</label>
                        <input type="number" name="Teste" min="0">
                    </div>
                    <div class="my-column">
                        <label>INICIATIVA</label>
                        <input type="number" name="Teste" min="0" max="20">
                    </div>
                    <div class="my-column">
                        <label>PROFICIÊNCIA</label>
                        <input type="number" name="Teste" min="0" max="20">
                    </div>
                    <div class="my-column">
                        <label>SABEDORIA PASSIVA</label>
                        <input type="number" name="Teste" id="PW_input" min="0" max="20">
                    </div>
                </div>
            </section>
            <section id="dados_personagem">
                <div class="my-row">
                    <div class="my-column">
                        <label>FORÇA</label>
                        <input type="number" name="Teste" min="0" max="100">
                    </div>
                    <div class="my-column">
                        <label>DESTREZA</label>
                        <input type="number" name="Teste" min="0" max="100">
                    </div>
                    <div class="my-column">
                        <label>CONSTITUIÇÃO</label>
                        <input type="number" name="Teste" min="0" max="100">
                    </div>
                    <div class="my-column">
                        <label>INTELIGÊNCIA</label>
                        <input type="number" name="Teste" min="0" max="100">
                    </div>
                    <div class="my-column">
                        <label>SABEDORIA</label>
                        <input type="number" name="Teste" min="0" max="100">
                    </div>
                    <div class="my-column">
                        <label>CARISMA</label>
                        <input type="number" name="Teste" min="0" max="100">
                    </div>
                </div>
            </section>
            <br>
            <button class="btn btn-danger" type="button">SALVAR</button>
            </form>
            <div class="container teste">
                <div class="card text-white bg-dark my-card">
                    <div class="card-header my-card-header">
                        DADOS
                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            <div class="form-group">
                                <label for="my-select">DADO</label>
                                <select id="my-select" class="form-control" name="">
                                    <option>Text</option>
                                </select>
                                <div class="form-group">
                                    <label>QUANTIDADE</label>
                                    <input class="form-control" type="number" name="" min="1" max="99">
                                </div>
                                <div class="form-group">
                                    <label for="my-input">BONUS</label>
                                    <input id="my-input" class="form-control" type="number" name="" min="0" max="99">
                                </div>
                                <br>
                                <button class="btn btn-danger" type="button">GIRAR!</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        HISTÓRICO DE DADOS
                    </div>
                    <div class="card-body">
                        <p class="card-text">Content</p>
                    </div>
                </div>
            </div>
        </div>
</body>


</html>