.btn-color-outline {
border: solid 1px #E5264B !important;
color: #E5264B;

}

.btn-danger{
    background-color: #E5264B !important;
}

body{
    padding-top: 100px;
}

.lefloat{
    float: left;
}

input{
    border: solid #E5264B 2px;
}
input, label{
    display:block;
}

.nome-personagem{
    margin-right: 20px;

}

.nivel{
    margin-left: 20px;
    width: 10px;
}
.dado{
background-image: url(/logosite.png);
}

section{
    display: block !important;
}

.teste{
    margin-top: 200px;
}